<h1 class="text-white">Welcome to the dashboard, {{name}} </h1>
<div class="row">
	<div style="width:36em">
		<canvas class="bg-white"id="firstChart"></canvas>
	</div>
</div>
<div class="row mt-3">
		<div style="width:36em">
				<canvas class="bg-white"id="secondChart"></canvas>
		</div>
</div>

<script>
    console.log('hi')
    var array1 =  [ {{#each urgencyArray}} {{dataValues.array}} {{else}} {{/each}}];
    var array2 =  [ {{#each progressArray}} {{dataValues.array}} {{else}} {{/each}}];
    console.log(array1)
    console.log(array2)

    var barColors =   [
        'rgba(255, 99, 132, 0.2)',
        'rgba(54, 162, 235, 0.2)',
        'rgba(255, 206, 86, 0.2)',
        'rgba(75, 192, 192, 0.2)',
        'rgba(153, 102, 255, 0.2)',
        'rgba(255, 159, 64, 0.2)',
        'rgba(255, 99, 132, 0.2)',
        'rgba(54, 162, 235, 0.2)',
        'rgba(255, 206, 86, 0.2)',
        'rgba(75, 192, 192, 0.2)',
        'rgba(153, 102, 255, 0.2)',
        'rgba(255, 159, 64, 0.2)'
    ]
    var borders =  [
        'rgba(255,99,132,1)',
        'rgba(54, 162, 235, 1)',
        'rgba(255, 206, 86, 1)',
        'rgba(75, 192, 192, 1)',
        'rgba(153, 102, 255, 1)',
        'rgba(255, 159, 64, 1)',
        'rgba(255,99,132,1)',
        'rgba(54, 162, 235, 1)',
        'rgba(255, 206, 86, 1)',
        'rgba(75, 192, 192, 1)',
        'rgba(153, 102, 255, 1)',
        'rgba(255, 159, 64, 1)'
    ]

    var ctx = document.getElementById("firstChart").getContext("2d");
    var secondChart = document.getElementById("secondChart").getContext("2d");
    var myChart = new Chart(ctx, {
      type: "bar",
      data: {
        labels: [
          "Low",
          "Moderate",
          "Alarming",
          "Critical",
          "Highest",
        ],
        datasets: [
          {
            //data: {{urgencyArray.values}},
            data: array1,
            backgroundColor: barColors,
						borderColor: borders, 
						borderWidth: 1
          },
        ],
      },
      options: { 
            title: { 
                display: true, 
                text: "Number of Tickets by Urgency"
            }, 
            scales: { 
                yAxes: [{ 
                        ticks: { 
                            stepSize: 1,
                        }
                    }]
            },
						legend: { 
							display: false
						}
      }
    });
    var secondChart = new Chart(secondChart, { 
        type: "bar", 
        data: { 
            labels: [ 
            "To Do", 
            "In Progress", 
            "Done", 
            ], 
            datasets: [ 
                { 
                    data: array2,
                    backgroundColor: barColors, 
                    borderColor: borders, 
                    borderWidth: 1
                },
            ],
        }, 
        options: { 
            title: { 
                display: true, 
                text: "Number of Tickets by Status"
            }, 
            scales: { 
                yAxes: [{ 
                    ticks: { 
                        stepSize: 1,
                    }
                }]
            }, 
						legend: { 
							display: false
						}
        }
    });
</script>