<section id="users" class="container">
    <h1 class="text-white">My Projects</h1>
    <div class="row row-cols-auto g-3">
    {{#each projects}}
        <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
          <div class="card">
            <div class="card-header bg-white">
                <span class = "pull-left">
                    <form id="project-user-issue-form" action="/projects/{{dataValues.id}}" method="get">
                        <input type="submit" value={{dataValues.projectTitle}}>
                        {{!-- <h5 class="card-title">
                            <i class="fa fa-flag"></i>
                            {{dataValues.projectTitle}}
                        </h5> --}}
                    </form>
                </span>
                <span class = "pull-right">
                    <p>
                        Start Date: 
                        {{dataValues.startDate}}
                    </p>
                </span>
            </div>
            <div class="card-body bg-white">
            <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
           </div>
        </div>
    </div>
    {{else}}
        <p style="color: white;">No Issues to be displayed!</p>
    {{/each}}
    </div>
</section>

