

<section id="users" class="container">
    <h1 class="text-white">All Issues</h1>
    <div class="row row-cols-3 g-3">
    {{#each issues}}
        <div class="col">
          <div class="card">
            <div class="card-header bg-white">
                <span class = "pull-left">
                <h5 class="card-title">
                    <i class="fa fa-flag"></i>
                    {{dataValues.issueTitle}}
                </h5>
                </span>
                <span class = "pull-right">
                    <p> urgency
                        {{dataValues.urgency}}
                    </p>
                </span>
            </div>
            <div class="card-body bg-white">
            <p class="card-text">{{dataValues.description}}</p>
            <p class="card-text">{{dataValues.status}}</p>
            <p class="card-text">{{dataValues.issueDate}}</p>
            <button class="btn logout-btn btn-edit pull-right" type="submit" >
                <i class="fa fa-pencil"></i> 
            </button>  

           </div>
            <div class="card-footer">

                    <button class="btn logout-btn btn-primary pull-right" type="submit" >
                        <i class="fa fa-trash"></i> 
                    </button>   
            </div>
        </div>
    </div>
    {{else}}
        <p style="color: white;">No Issues to be displayed!</p>
    {{/each}}
    </div>
</section>

