<section id="users" class="container-fluid">
    <h1 class="text-white">All Issues</h1>
    <div class="row row-cols-auto">
    {{#each issues}}
        <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
          <div class="card">
            <div class="card-header bg-white">
                <span class = "pull-left">
                <h5 class="card-title">
                    <i class="fa fa-flag"></i>
                    {{dataValues.issueTitle}}
                </h5>
                </span>
                <span class = "pull-right">
                    Urgency <span id="urgency-badge" class="badge badge-pill badge-info">{{dataValues.urgency}}</span>
                </span>
            </div>
            <div class="card-body bg-white">
            <p class="card-text">{{dataValues.description}}</p>
           </div>
            <div class="card-footer">
                <small class="pull-left text-white"> 
                    Status <span id="urgency-badge" class="badge badge-pill badge-light">{{dataValues.status}}</span>
                </small>
                <small class="text-white pull-right">
                    <i class="fa fa-calendar-o"></i>
                    Date
                    {{dataValues.issueDate}}
                </small>
                <br>
                <a href="/issues/{{dataValues.id}}/edit" class="btn btn-light pull-right">Edit</a>
                <form action="/issues/{{dataValues.id}}?_method=delete" method="post">
                    <a href="#" class="btn btn-light pull-right mr-2" onclick="confirm('Are you sure you want to delete this issue?')?this.parentElement.submit():null;">Delete</a>
                </form>
            </div>
        </div>
    </div>
    {{else}}
        <p style="color: white;">No Issues to be displayed!</p>
    {{/each}}
    </div>
</section>

<script>
    let badge = document.getElementById("urgency-badge")
    console.log({{dataValues.urgency}} + 3 )

  

</script>